@font-face {
    font-family: "Neuton";
    src: local("Neuton ExtraLight"), local("Neuton-ExtraLight"), url("../../public/fonts/Neuton/Neuton-ExtraLight.ttf") format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: "Neuton";
    src: local("Neuton Light"), local("Neuton-Light"), url("../../public/fonts/Neuton/Neuton-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: "Neuton";
    src: local("Neuton Regular"), local("Neuton-Regular"), url("../../public/fonts/Neuton/Neuton-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Neuton";
    src: local("Neuton Italic"), local("Neuton-Italic"), url("../../public/fonts/Neuton/Neuton-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Neuton";
    src: local("Neuton Bold"), local("Neuton-Bold"), url("../../public/fonts/Neuton/Neuton-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Neuton";
    src: local("Neuton ExtraBold"), local("Neuton-ExtraBold"), url("../../public/fonts/Neuton/Neuton-ExtraBold.ttf") format('truetype');
    font-weight: 800;
}
