@import "tailwindcss";
@import "./_fonts/noto_sans_font.css";
@import "./_fonts/neuton_font.css";
@import "./_fonts/philosopher_font.css";

:root {
    --background: #e8e8e8;
    --background-main: #fbfbf4;
    --sidepanel-bg: #b2b2b2;
    --head-foot-bg: #e2e2e2;
    --project-fade: #111113;
    --project-text: #ededed;
    --midground: #b7b7b7;
    --foreground-primary: #14600e;
    --foreground-base: #282828;
    --outer-padding: 1.25rem;
    --sidebar-basis: 10%;
    --main-basis: 80%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --background-main: #111113;
        --sidepanel-bg: #444444;
        --head-foot-bg: #212121;
        --midground: #373737;
        --foreground-primary: #b3ffc3;
        --foreground-base: #cecece;
    }
}

hr {
    color: var(--midground);
    border-top-width: 2px;
}

h1 {
    font-size: var(--text-5xl);
    font-weight: 600;
    font-family: Neuton, serif;
}

h2 {
    font-size: var(--text-4xl);
    font-weight: 600;
    font-family: Neuton, serif;
}

h3 {
    font-size: var(--text-2xl);
    font-weight: 500;
    font-family: Neuton, serif;
}

h4 {
    font-size: var(--text-xl);
    font-weight: 500;
}

h5 {
    font-size: var(--text-lg);
}
