@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import "tailwindcss";
@import "./global_anims.css";
@import "./_themes/force_dark.css";
@import "./_themes/force_light.css";
@import "./_fonts/noto_sans_font.css";
@import "./_fonts/neuton_font.css";
@import "./_fonts/philosopher_font.css";

:root {
    --background: #e8e8e8;
    --background-main: #fbfbf4;
    --sidepanel-bg: #b2b2b2;
    --head-foot-bg: #e2e2e2;
    --project-fade: #111113;
    --project-text: #ededed;
    --midground: #b7b7b7;
    --foreground-primary: #002a8c;
    --foreground-base: #282828;
    --foreground-base-contrast: #cecece;
    --resume-bg: #ece5d2;
    --resume-mg-1: #f0edde;
    --resume-mg-2: #cac3af;
    --resume-mg-3: #a69c85;
    --resume-fg-base: #282828;
    --resume-fg-primary: #002a8c;
    --outer-padding: 1.25rem;
    --sidebar-basis: 10%;
    --main-basis: 80%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --background-main: #111113;
        --sidepanel-bg: #444444;
        --head-foot-bg: #212121;
        --midground: #373737;
        --foreground-primary: #b3ffc3;
        --foreground-base: #cecece;
        --foreground-base-contrast: #282828;
        --resume-bg: #27272a;
        --resume-mg-1: #3f3f46;
        --resume-mg-2: #2b2c2e;
        --resume-mg-3: #18181b;
        --resume-fg-base: #cecece;
        --resume-fg-primary: #b3ffc3;
    }
}

hr {
    color: var(--midground);
    border-top-width: 2px;
}

h1 {
    font-size: var(--text-5xl);
    font-weight: 600;
    font-family: Neuton, serif;
}

h2 {
    font-size: var(--text-4xl);
    font-weight: 600;
    font-family: Neuton, serif;
}

h3 {
    font-size: var(--text-2xl);
    font-weight: 500;
    font-family: Neuton, serif;
}

h4 {
    font-size: var(--text-xl);
    font-weight: 500;
}

h5 {
    font-size: var(--text-lg);
}
