@import "tailwindcss";

@variant dark (&:where(.dark *));

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --head-foot-bg: #e8e8e8;
  --outer-margin: 250px;
  --outer-padding: 10px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --head-foot-bg: #212121;
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
