@import "tailwindcss";
@import "./_fonts/noto_sans_font.css";
@import "./_fonts/neuton_font.css";
@import "./_fonts/philosopher_font.css";

:root {
    --background: #ededed;
    --background-main: #fbfbf4;
    --background-sides: #e8e8e8;
    --head-foot-bg: #e2e2e2;
    --foreground: #0a0a0a;
    --outer-padding: 10px;
    --sidebar-basis: 10%;
    --main-basis: 80%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --background-main: #111113;
        --background-sides: #191919;
        --head-foot-bg: #212121;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: Neuton, serif;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: Neuton, serif;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: Neuton, serif;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
}
