:root#force-dark {
    --background: #191919;
    --background-main: #111113;
    --sidepanel-bg: #444444;
    --head-foot-bg: #212121;
    --project-fade: #111113;
    --project-text: #ededed;
    --midground: #373737;
    --foreground-primary: #b3ffc3;
    --foreground-base: #cecece;
}

@media (prefers-color-scheme: dark) {
    :root#force-dark {
        --background: #191919;
        --background-main: #111113;
        --sidepanel-bg: #444444;
        --head-foot-bg: #212121;
        --midground: #373737;
        --foreground-primary: #b3ffc3;
        --foreground-base: #cecece;
    }
}