:root#force-light {
    --background: #e8e8e8;
    --background-main: #fbfbf4;
    --sidepanel-bg: #b2b2b2;
    --head-foot-bg: #e2e2e2;
    --project-fade: #111113;
    --project-text: #ededed;
    --midground: #b7b7b7;
    --foreground-primary: #ffef00;
    --foreground-base: #282828;
    --foreground-base-contrast: #282828;
    --resume-bg: #fffffd;
    --resume-mg-1: #f0edde;
    --resume-mg-2: #cac3af;
    --resume-mg-3: #a69c85;
    --resume-fg-base: #282828;
    --resume-fg-primary: #ffef00;
}

@media (prefers-color-scheme: dark) {
    :root#force-light {
        --background: #e8e8e8;
        --background-main: #fbfbf4;
        --sidepanel-bg: #b2b2b2;
        --head-foot-bg: #e2e2e2;
        --midground: #b7b7b7;
        --foreground-primary: #ffef00;
        --foreground-base: #282828;
        --foreground-base-contrast: #282828;
        --resume-bg: #fffffd;
        --resume-mg-1: #f0edde;
        --resume-mg-2: #cac3af;
        --resume-mg-3: #a69c85;
        --resume-fg-base: #282828;
        --resume-fg-primary: #ffef00;
    }
}