:root#force-light {
    --background: #e8e8e8;
    --background-main: #fbfbf4;
    --sidepanel-bg: #b2b2b2;
    --head-foot-bg: #e2e2e2;
    --project-fade: #111113;
    --project-text: #ededed;
    --midground: #b7b7b7;
    --foreground-primary: #14600e;
    --foreground-base: #282828;
}

@media (prefers-color-scheme: dark) {
    :root#force-light {
        --background: #e8e8e8;
        --background-main: #fbfbf4;
        --sidepanel-bg: #b2b2b2;
        --head-foot-bg: #e2e2e2;
        --midground: #b7b7b7;
        --foreground-primary: #14600e;
        --foreground-base: #282828;
    }
}